<!<!DOCTYPE html>
<html>
<head>
  <!--00.Default setting for RWD webpage-->
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/F:/Bootstrap/Boostrap Tutorial/新增元件/03原本設定/bootstrap.min.css">
  <script src="/F:/Bootstrap/Boostrap Tutorial/新增元件/03原本設定/jquery.min.js"></script>
  <script src="/F:/Bootstrap/Boostrap Tutorial/新增元件/03原本設定/popper.min.js"></script>
  <script src="/F:/Bootstrap/Boostrap Tutorial/新增元件/03原本設定/bootstrap.min.js"></script>
    <script src="/F:/Bootstrap/Boostrap Tutorial/新增元件/00點餐頁面/10BtnTxtChg/BtnChg.js"></script>
  </head>

  <body>
    <input id="button左邊浮水印" type='button' value='確認訂購'>

    </body>
</html>
